.progresBar {
  height: 4px;
  width: 90%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.littleBar {
  height: 100%;
  width: 70px;
  border-radius: 5px;
  background-color: #50596586;
}

.littleBarActive {
  background-color: #fff;
}
