.startingPageContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #fd267a, #ff6036);
}

.startingPageContainer header {
  display: flex;
  align-items: center;
}

.startingPageContainer img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.startingPageContainer h1 {
  font-size: 36px;
  color: #fff;
}

.startingPageContainer a {
  text-decoration: none;
}
