.progressBarContainer {
  width: 100vw;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  background-color: #eceaea;
}

.progressBarFill {
  height: 100%;
  position: absolute;
  background-color: #5fc6ee;
  transition: width 0.3s ease-in-out;
}
